.filters
    display: flex
    flex-direction: column
    gap: 24px
    &Grade
        button
            width: 100px
            margin-right: 15px
            &:last-child
                margin-right: 0
        &Title
            font-size: 24px
            margin-bottom: 20px

    &Specialty
        button
            width: 100px
            margin-right: 15px
            &:last-child
                margin-right: 0
        &Title
            font-size: 24px
            margin-bottom: 20px